body {
  margin: 0;
  font-family: Arial;
  background: #f3f3f3;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0002;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.sidebar {
  width: 200px;
  background: #222;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.main {
  margin-left: 220px;
  padding: 20px;
}

.menu-btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #444;
  color: white;
  border: none;
}

.alert-flag {
  color: red;
  font-weight: bold;
}

.logout {
  margin-top: 40px;
  background: #b30000 !important;
}
