/* ==========================
   VARIABLES DE COLORES POR TEMA
========================== */

:root {
  --basic-color: #1e73ff;
  --medium-color: #16a34a;
  --high-color: #000000;
  --admin-color: #7e22ce;

  --text-light: #ffffff;
  --text-dark: #111111;
}

/* ==========================
   THEMES APLICADOS AL BODY
========================== */

body.basic-theme {
  --theme-main: var(--basic-color);
  background: #f2f7ff;
}

body.medium-theme {
  --theme-main: var(--medium-color);
  background: #f2fff4;
}

body.high-theme {
  --theme-main: var(--high-color);
  background: #f7f7f7;
}

body.admin-theme {
  --theme-main: var(--admin-color);
  background: #faf5ff;
}

/* ==========================
   BOTONES TEMÁTICOS
========================== */

button.theme {
  background: var(--theme-main);
  color: var(--text-light);
}

button.theme:hover {
  opacity: .85;
}
